<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>net.garaba.keybindd.agent</string>
  <key>BundleProgram</key>
  <string>Contents/Resources/KeybinddAgent.app/Contents/MacOS/KeybinddAgent</string>
  <key>RunAtLoad</key>
  <true/>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>MachServices</key>
  <dict>
    <key>net.garaba.keybindd.agent.xpc</key>
    <true/>
  </dict>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>AssociatedBundleIdentifiers</key>
  <string>net.garaba.keybindd</string>
</dict>
</plist>
